/Java-File/nbproject/private/
/Java-File/build/
/Java-Test/nbproject/private/
/Java-Test/build/
/Java-OOP/nbproject/private/
/Java-OOP/build/
/Java-Test/dist/
/KiemTra3/nbproject/private/
/KiemTra3/build/
/Learn_GUI/nbproject/private/
/Learn_GUI/build/
/De40/nbproject/private/
